<header id="banner" class="body">
    <nav class="top">
        <ul>
            <li><a href="/">{% _trans 'Home' %}</a></li>
            <li><a href="/projects/">{% trans 'Projets’ list' %}</a></li>
            <li><a href="/login/">{% trans 'Login' %}</a></li>
        </ul>
    </nav>
    <h1><a href="#">Ruche<br /><strong>{% trans 'Laissons les développeurs butiner !' %}</strong></a></h1>
     
    <nav class="main">
        <ul>
            <li class="active"><a href="/project/phantastic/">{% trans 'Project' %}</a></li>
            <li><a href="/project/phantastic/wiki/">{% trans 'Wiki' %}</a></li>
            <li><a href="/project/phantastic/activity/">{% trans 'Activity' %}</a></li>
         
            <li><a href="/project/phantastic/roadmap/">{% trans 'Roadmap' %}</a></li>
            <li><a href="/project/phantastic/browser/">{% trans 'Source' %}</a></li>
            <li><a href="/project/phantastic/report/">{% trans 'Tickets' %}</a></li>
            <li><a href="/project/phantastic/ticket/">{% trans 'Create new ticket' %}</a></li>
            <!-- Admin du projet et super-admin seulement -->
            <!--li><a href="#">{% trans 'Manage' %}</a></li-->
        </ul>
    </nav>
 
</header>
 

